@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Public Sans";
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 18px;
}

.topbar,
.hero-image,
.seperator {
    margin: 0;
    width: 100%;
}

.topbar {
    background-color: rgb(0,78,66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: -24px;
}

.left-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.BHSLogo {
    width: 200px;
}

.logo-link {
    display: flex;
    align-items: center;
}

.hero-image {
    background-image: url("./images/Placeholder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    aspect-ratio: 2.30 / 1;
    width: 100%;
}

.breadcrumbs {
    padding: 30px;
    color: rgb(0, 78, 66);
}

.text-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-right: 0;
    margin: 40px auto 0;
}

.text-left .text,
.text-left .image {
    padding-left: 20px;
    padding-right: 20px;
}

.text-left .image img{
    width: 100%;
}

.seperator {
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: rgb(0 171 142);
    height: 350px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    width: 80%;
    margin: 40px auto 0;
}

.calendar {
    margin-top: 60px;
    text-align: center;
}

.text-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-right: 0;
    margin: 40px auto 0;
}

.text-right .text,
.text-right .image {
    padding-left: 20px;
    padding-right: 20px;
}

.full-image {
    background-image: url("./images/Placeholder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    aspect-ratio: 2.37 / 1;
    width: 100%;
}

