@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Public Sans";
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 18px;
}

.topbar,
.hero-image,
.seperator {
    margin: 0;
    width: 100%;
}

.topbar {
    background-color: rgb(0,78,66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: -24px;
}

.left-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.BHSLogo {
    width: 200px;
}

.logo-link {
    display: flex;
    align-items: center;
}

.hero-image {
    background-image: url("./images/Placeholder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    aspect-ratio: 2.30 / 1;
    width: 100%;
}

.breadcrumbs {
    padding: 30px;
    color: rgb(0, 78, 66);
}


/* Left Side Text */
.text-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-right: 0;
    margin: 40px auto 0;
}

.text-left .text,
.text-left .image {
    padding-left: 20px;
    padding-right: 20px;
}

.text-left .image img{
    width: 100%;
}

/* Seperator */
.seperator {
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: rgb(0 171 142);
    height: 350px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 300px;
    color: white;
}

.seperator .info {
    padding-top: 50px;
    margin-left: 200px;
}

.seperator a {
    font-weight: bold;
    color: white;
}

.seperator a:hover {
    color: rgb(0, 78, 66);
}

.seperator .pdf-container {
    width: 100%;
    max-width: 480px;
    height: 250px;
    margin-top: 35px;
}

.seperator .pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}


/* Two Column */
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    width: 80%;
    margin: 40px auto 0;
}


/* Calendar */
.calendar {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(0 171 142);
    height: 350px;
    color: white;
}


/* Right Side Text */
.text-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-right: 0;
    margin: 40px auto 0;
    margin-bottom: 40px;
}

.text-right .text,
.text-right .image {
    padding-left: 20px;
    padding-right: 20px;
}


/* Full Image */
.full-image {
    background-image: url("images/jeffrey-hamilton-ArLOiOoR5L0-unsplash-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    aspect-ratio: 2.37 / 1;
    width: 100%;
}

.full-image img {
    display: block;
    margin-left: auto;
    margin-right: 0;
    height: 100%;
    width:auto;
    min-width: 6%;
    object-fit: cover;
}


/* Footer */
.footer {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    gap: 200px;
    margin: auto;
    width: 100%;
    align-items: center; 
    background-image: url("images/Digital_Rise pattern_landscape - Burnside pounamu (fade).jpg");
    height: 419px;
    background-repeat: repeat-x;
    background-size: contain;
}

.footer .BHSLogo,
.footer .details,
.footer .links {
    padding-left: 20px;
    padding-right: 20px;
}

.footer .details a,
.footer .links a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.footer .details a:hover,
.footer .links a:hover {
    color: rgb(0 171 142);
}

.footer .BHSLogo {
    width: 275px;
    aspect-ratio: 1536 / 913;
    max-width: none;
}

.footer .BHSLogo img {
    margin-left: 53px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer .details {
    margin-left: 500px;
    margin-right: 15px;
}

