@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Public Sans";
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 18px;
    scroll-behavior: smooth;
}

.topbar,
.hero-image,
.seperator {
    margin: 0;
    width: 100%;
}

.topbar {
    background-color: rgb(0,78,66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 0px;
}

.left-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 40px;
}

.BHSLogo {
    width: 200px;
}

.logo-link {
    display: flex;
    align-items: center;
}

.hero-image {
    background-image: url("images/Main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    aspect-ratio: 2.30 / 1;
    width: 100%;
}

.hero-image img{
    width: 30%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.breadcrumbs {
    padding: 30px;
    color: rgb(0, 78, 66);
}


/* Left Side Text */
.text-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-right: 0;
    margin: 40px auto 0;
    align-items: center;
}

.text-left .text,
.text-left .image {
    padding-left: 20px;
    padding-right: 20px;
}

.text-left .image img{
    width: 100%;
}

/* Seperator */
.seperator{
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: #004E42;
    height: 390px;
    color: white;
    position: relative;
}

.seperator .grid{
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 200px;
    height: 100%;
    z-index: 1;
}

.seperator .grid .info {
    align-content: center;
    margin-left: 275px;
}

.seperator a {
    font-weight: bold;
    color: white;
}

.seperator a:hover {
    color: rgb(0 171 142);
}

.seperator .grid .pdf-container {
    width: 100%;
    max-width: 480px;
    height: 250px;
    margin-top: 35px;
    padding-top: 30px;
}

.seperator .grid .pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.seperator .pattern {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 5%; 
    height: 100%; 
}

.seperator .pattern img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

/* Two Column */
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    width: 80%;
    margin: 40px auto 0;
    align-content: center;
    text-align: center
}

.two-column img{
    height: 15em;
}


/* Calendar */
.calendar {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #004E42;
    height: 600px;
    color: white;
    align-content: center;
    padding-bottom: 40px;
    position: relative;
}

.calendar .pattern {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 5%; 
    height: 100%; 
}

.calendar .pattern img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

/* Right Side Text */
.text-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin: auto;
    width: 60%;
    margin-top: 40px;
    margin-right: 0;
    margin: 40px auto 0;
    margin-bottom: 40px;
}

.text-right .text,
.text-right .image {
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
}


/* Full Image */
.full-image {
    background-image: url("images/Placeholder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    aspect-ratio: 2.37 / 1;
    width: 100%;
}

.full-image img {
    display: block;
    margin-left: auto;
    margin-right: 0;
    height: 100%;
    width:auto;
    min-width: 6%;
    object-fit: cover;
}


/* Footer */
.footer {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    gap: 200px;
    margin: auto;
    width: 100%;
    align-items: center; 
    background-image: url("images/Digital_Rise pattern_landscape - Burnside pounamu (fade).jpg");
    height: 419px;
    background-repeat: repeat-x;
    background-size: contain;
}

.footer .BHSLogo,
.footer .details,
.footer .links {
    padding-left: 20px;
    padding-right: 20px;
}

.footer .details a,
.footer .links a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.footer .details a:hover,
.footer .links a:hover {
    color: rgb(0 171 142);
}

.footer .BHSLogo {
    width: 275px;
    aspect-ratio: 1536 / 913;
    max-width: none;
}

.footer .BHSLogo img {
    margin-left: 53px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer .details {
    margin-left: 500px;
    margin-right: 15px;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px; 
    height: 50px; 
    padding: 0;  
    border: none;
    cursor: pointer;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-button img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    border-radius: 5px; 
}